
        <h1>게시판입니다</h1>
        <a href="/">홈으로</a>
        <form action="/posts/create">
            title:<input type="text" name="title">
            content:<input type="text" name="body">
            <input type="submit">
        </form>
  